body {
    font-family: cursive, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: deepskyblue;
    color: darkgrey;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin-top: 60px; /* To avoid overlap with the fixed header */
}

.project {
    margin-bottom: 2rem;
}

footer {
    background: deepskyblue;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
}
